:root {
    --gradient-bg: linear-gradient(135deg, #9334DF, #9334DF);
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.5vh; 
    background-color: #f0f0f0;
    padding: 40px; 
    box-sizing: border-box;
}

.signup-form {
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.signup-form-header {
    width: 100%; 
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-weight: bold;
}

.signup-form-header h1 {
    font-size: 19.2px;
}
.uplodsection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
}

.signup-text {
    width: 100%;
    padding: 5px;
}

.signup-text p {
    font-size: 14px;
    color: hsla(0, 0%, 0%, 0.72);
}

.signup-image {
    border-radius: 10px;
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #DBDFE0;
    font-size: 12px;
}

.image-upload {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 
    height: 120px;
    flex-direction: column;
}

.buttonsignup {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-upload input {
    display: none;
}
.image-upload p label{
     color: rebeccapurple;
     font-weight: bold;
     cursor: pointer;
}

.image-signup {
    width: 50px;
    height: 50px;
}

.suivantsignup {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #9334DF;
    border: 1px solid #9334DF;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-size: 14px;
}

.suivantsignup:hover {
    background-color: #9334DF;
    color: white;
}


.formsignupbody{
    height: 84%;
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.inputContact{
    height: 22%;
    width: 100%;
    display: flex;
}
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.input-container label {
    font-size: 14px;
    
}

.input-container input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
.etatCivil{
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.etatCivil > h1 {
    font-size: 12px;
}

.radio-container {
    width: 94%;
    background-color: #F1F3F3;
    padding: 3% 2%;
    border-radius: 5px;
    display: inline-block; 
    white-space-collapse: 2px;
}

.radio-container input[type="radio"] {
    display: none;
}
.radio-container label {
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px; 
    cursor: pointer;
    margin-left: 4%;
}

.radio-container label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border: 1px solid #9334DF;
    border-radius: 50%;
    background-color: white;
}

.radio-container input[type="radio"]:checked + label:before {
    background-color: #9334DF; 
    border-color: #9334DF; 
}
.motdepasse{
    width: 100%;
    padding: 2px 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 25px 0px;
}
.motdepasse ::placeholder{
    color: #696969;
   
}
.motdepasse label{
    font-weight: bold; 
    margin: 5px 0;
}
.confirmationMotdepasse{
    height: 17%;
    width: 100%;
}
.confirmationMotdepasse {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.inputmotdepasse,
.inputconfirm {
    width: 100%;
    padding: 13px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 14px;
}
.valider{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    background: var(--gradient-bg);
    border-radius: 7px;
    margin: 20px 0;
}
.valider > button {
    background-color: transparent;
    width: 100%;
    outline: none;
    border-radius: 5px;
    color: white;
    font-weight:600;
    height: 100%;
}