:root {
    --gradient-bg: linear-gradient(135deg, #9334DF, #9334DF);
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.5vh; 
    background-color: #f0f0f0;
    padding: 40px; 
    box-sizing: border-box;
}

.signup-form {
    gap: 6%;
    background: white;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    padding: 1%;
}

.signup-form-header {
    height: 10%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: 1px solid blue;
}

.signup-form-header h1 {
    font-size: 19.2px;
}

.signup-text {
    height: 22%;
    width: 100%;
    border: 1px solid blue;
}

.signup-text h2 {
    background: var(--gradient-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    font-size: 14px;
}

.signup-image {
    border: 1px solid white;
    border-radius: 10px;
    height: 55%;
    width: 100%; 
    display: flex;
    justify-content: center;
    background-color: #DBDFE0;
    border: 1px solid blue;
    font-size: 12px;
}

.image-upload {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 80%;
}

.buttonsignup {
    height: 20%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

.image-upload input {
    display: none;
}

.image-signup {
    width: 50px;
    height: 50px;
}

.suivantsignup {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #9334DF;
    border: 1px solid #9334DF;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-size: 14px;
}

.suivantsignup:hover {
    background-color: #9334DF;
    color: white;
}


.formsignupbody{
    border: 1px solid blue;
    height: 84%;
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.inputContact{
    border: 1px solid red;
    height: 22%;
    width: 100%;
    display: flex;
}
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.input-container label {
    font-size: 14px;
    
}

.input-container input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
.etatCivil{
    border: 1px solid red;
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.etatCivil > h1 {
    font-size: 12px;
}

.radio-container {
    width: 94%;
    background-color: #F1F3F3;
    padding: 3% 2%;
    border-radius: 5px;
    display: inline-block; 
    white-space-collapse: 2px;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container label {
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px; 
    cursor: pointer;
    margin-left: 4%;
}

.radio-container label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border: 1px solid #9334DF;
    border-radius: 50%;
    background-color: white;
}

.radio-container input[type="radio"]:checked + label:before {
    background-color: #9334DF; 
    border-color: #9334DF; 
}
.motdepasse{
    border: 1px solid red;
    height: 17%;
    width: 100%;
}
.confirmationMotdepasse{
    border: 1px solid red;
    height: 17%;
    width: 100%;
}
.motdepasse,
.confirmationMotdepasse {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.inputmotdepasse,
.inputconfirm {
    width: 100%;
    padding: 13px;
    border: 1px solid rgba(0, 0, 0, 0.507);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
.valider{
    border: 1px solid red;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}
.valider > button {
    background-image: var(--gradient-bg);
    width: 100%;
    height: 75%;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
    color: white;
}